video {
	position: absolute;
  transform: scaleX(-1);
	filter: brightness(40%);
}

canvas {
  position: absolute;
  z-index: 2;
  transform: scaleX(-1);
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#score {
  position: absolute;
  left: 10px;
  color: white;
  z-index: 2;
  margin-left: 10px;
}

.circle {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 10px solid royalblue;
    border-radius: 50%;
    position: absolute;
    display: block;
  }

  .motion1 {
    background-image: url("../../public/assets/motion1.png");
    background-position: center;
    background-size: 80px 80px; 
    background-repeat: no-repeat;
  }
  .motion2 {
    background-image: url("../../public/assets/motion2.png");
    background-position: center;
    background-size: 80px 80px; 
    background-repeat: no-repeat;
  }
  .motion3 {
    background-image: url("../../public/assets/motion3.png");
    background-position: center;
    background-size: 80px 80px; 
    background-repeat: no-repeat;
  }
  .motion4 {
    background-image: url("../../public/assets/motion4.png");
    background-position: center;
    background-size: 80px 80px; 
    background-repeat: no-repeat;
  }
  .motion5 {
    background-image: url("../../public/assets/motion5.png");
    background-position: center;
    background-size: 80px 80px; 
    background-repeat: no-repeat;
  }
  .motion6 {
    background-image: url("../../public/assets/motion6.png");
    background-position: center;
    background-size: 80px 80px; 
    background-repeat: no-repeat;
  }
  .motion7 {
    background-image: url("../../public/assets/motion7.png");
    background-position: center;
    background-size: 80px 80px; 
    background-repeat: no-repeat;
  }
